.mainbody{
	display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.objectselection{
    margin-left: 1%;
    width: 50%;
}

.fieldselection{
    margin: 0% 1%;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}